@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.cute-link {
  font-size: 1rem;
  color: #ff66b3; /* Soft pink */
  text-decoration: none;
  transition: color 0.3s ease, transform 0.2s ease;
  position: relative;
}

.cute-link:hover {
  color: #ff3366; /* Darker pink on hover */
  transform: scale(1.1); /* Slightly enlarge on hover */
}

/* .cute-link::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #ff66b3;
  transition: width 0.3s ease;
  position: absolute;
  bottom: -2px;
  left: 0;
} */

.cute-link:hover::after {
  width: 100%;
}
